<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twofish.mapper.SysGeneratorMapper">
    <select id="queryPage" resultType="map">
       select table_name tableName, engine, table_comment tableComment, create_time createTime
       from information_schema.tables
       where table_schema = (select database())
       <if test="tableName != null and tableName.trim() != ''">
          and table_name like concat('%', #{tableName}, '%')
       </if>
       order by create_time desc
    </select>
</mapper>